/* Contêiner para as tabelas */
.table-container {
  display: flex;
  width: 100%;
  gap: 0;
}
.app-tilte {
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-bottom: 55px;  

}

.symbol-list-container,
.price-table-container {
  width: 50%;
  margin: 0;
  padding: 0;
}

.symbol-list ul {
  margin: 0;
  padding: 0;
}

.symbol-list li {
  list-style: none;
  margin-bottom: 5px;
}

.symbol-list {
  border-right: 1px solid #ddd;
}

.price-table {
  width: 100%;
  border-collapse: collapse;
}

.price-table th,
.price-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  text-transform: uppercase;
}

.symbol-list input[type="checkbox"] {
  margin-right: 10px;
}

.price-table td,
.price-table th {
  white-space: nowrap;
}

