/* Estilos já aplicados na tabela de preços */
.price-table-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.price-table {
  width: 100%;
  border-collapse: collapse;
}


.price-table th {
  background-color: #00695c;
  color: #ffffff;
  font-weight: bold;
}

.price-table td {
  border-bottom: 1px solid #eeeeee;
  color: #333333;
}

.price-table tbody tr:hover {
  background-color: #f1f1f1;
}

.price-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.price-table td:last-child {
  color: #e53935;
}

.list-dropdown {
  width: calc(100% - 50px);
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.dropdown-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-list-button {
  padding: 10px;
  font-size: 18px;
  background-color: #004d40;
  /* Ajusta a cor de fundo */
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  width: 34px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-list-button:hover {
  background-color: #00362f;
}

.app-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}




